* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 435px;
  top: 0;
  background: #535971;
}
body{
  background: #E5E5E5;
  margin-bottom: 5%;
  color: #535971;
  font-family: 'Poppins', sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: 0 auto;
  color: white;
}

header{
  margin-top: 140px;
}
header h1 {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}
header p {
  font-size: 20px;
  line-height: 30px;
  max-width: 415px;
}

#my-form {
  margin-top: 58px;
  padding: 64px;;
  border-radius: 20px 20px 0 0;
  background: white;
  color: #535971;
}

fieldset {
  border: none;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

legend, h3 {
  margin-bottom: 32px;
  padding-bottom: 16px;
  border-bottom:  1px solid #E6E6F0;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

span {
  font-size: 12px;
  line-height: 20px;
  color: #a7a3af;
}

input {
  margin: 8px 0 16px;
  padding: 8px;
  height: 56px;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}
input:invalid {
  border: 1px solid #fa1644;
}

.col {
  display: flex;
  gap: 22px;
}
.col2 {
  display: flex;
  gap: 10px;
  width: 60%;
}
.input-col {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.element-field{
  display: flex;
  flex-direction: column;
}

h3 {
  border-bottom: 0;
  margin-bottom: 8px;
  padding: 0;
}

footer {
  height: 160px;
  background: #535971;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  height: 100%;
  
  margin: 52px 71px;
  padding: 15px 40px;
  background: #FF5374;
  border-radius: 20px;

  font-family: 'Staatliches', cursive;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.btn:hover {
  background: #fa1644;
  transform: scale(1.05);
  font-weight: 500;
}
